@import url('./index.scss');

footer {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  font-family: 'Pretendard-Regular';
  color: #f5f5f5;
  background-color: #444f59;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1400px;
    height: 100%;
  }

  .copyright {
    font-size: 10px;
  }
}